---
import '../../../styles/blog.css';
import shopsData from '../../../jsons/shop.json';

const countries = [...new Set(shopsData.map(item => item.country_en))];

const countryCounts = countries.reduce((acc, country) => {
  acc[country] = shopsData.filter(item => item.country_en === country).length;
  return acc;
}, {} as Record<string, number>);

const sortedCountries = Object.entries(countryCounts)
  .sort((a, b) => b[1] - a[1])
  .map(([country]) => country);
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog | Home </title>
	</head>
	<body>
		<header>
			<nav class="language-select">En / <a href={`/blog/jp/home`}>日</a></nav>
			<h1>Beancurd Hunting Blog</h1>
			<hr class="header-line">
		</header>

		<main>
			<article>
                <ul class="links">
                    <li><i class="fa-solid fa-play"></i><a href="../../../">About Writer (Academic Profile)</a></li>
                    <li><i class="fa-solid fa-play"></i><a href="/blog/en/1">Beancurd Rankings</a></li>
                    <li><i class="fa-solid fa-play"></i><a href="/blog/en/records">Other Visit Records</a></li>
                </ul>
                <h2>About</h2>
                <p>
                    Welcome to Beancurd Hunting blog! I am uploading my visit records for beancurds stalls as well as rankings.
                </p>
                <p>
                    *** The ranking is fully based on the writer's personal preferences. Please do not take it too seriously! :)
                </p>
                <p>
                  *** Prices may increase due to inflation, but since it’s impossible to track all changes, please consider the prices as a reference only.
                </p>
                <h2>Number of Shops Visited By Country/Region</h2>
                <p class="total-shops">Total: {shopsData.length}</p>
                <ul>
                    {sortedCountries.map(country => (
                      <li>{country}: {countryCounts[country]}</li>
                    ))}
                  </ul>
                <h2>Listed Beancurd Shops/Stalls</h2>
                <iframe src="https://www.google.com/maps/d/embed?mid=1SZZ2-RGoaHdaa_6rPurtxPdQB51o-f4&ehbc=2E312F&noprof=1" 								
                width="600"
                height="400"
                id="frame"
                frameborder="0"
                allowfullscreen
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
                aria-label="Map of {shop.store_name}"
                **respponsive**
                />
			</article>
		</main>
	</body>
	<footer>
        <hr class="footer-line">
		<div class="footer-content"> <p>© 2024 Shawn</p></div>
	</footer>
</html>